<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html>         <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>Aid Information Platform</title>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><![endif]-->
    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
      setTimeout(function(){var a=document,g,b={families:(g=
      ["nta"]),urls:["/stylesheets/fonts-ie8.css]},
      c="javascripts/webfont-debug.js,d="script",
      e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
      ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
      .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!--><%= stylesheet_link_tag "fonts" %><!--<![endif]-->


    <%= javascript_include_tag  "jquery-base" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag  "ie-compat" %>
    <![endif]-->
    <%= javascript_include_tag  "d3" %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="citizen mainstream">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#content" class="visuallyhidden">Skip to main content</a>
    <header role="banner" class="group" id="global-header">
      <div class="header-global group">
        <h1><a href="/" title="Go to the homepage">Department for International Development</a></h1>
      </div>
    </header>
    <div id="whitehall-wrapper">
        <div id="content">

        </div>
        <div id="page">
            <div class="inner-block">
                <div class="disclaimer">
                    <div class="inner group">
                        This is a <em>test website</em>, so may be inaccurate or misleading.  The official website remains <a href="http://www.dfid.gov.uk">dfid.gov.uk</a>
                    </div>
                </div>
                <%= yield %>
            </div>
        </div>
    </div><!--end wrapper-->

    <div class="disclaimer" id="disclaimer">
       <div class="inner group">
          This is a <em>test website</em>, so may be inaccurate or misleading.  The official website remains <a href="http://www.dfid.gov.uk">dfid.gov.uk</a>
      </div>
    </div>
    <footer class="group" id="footer" role="contentinfo">
      <div class="inner group">
        <div class="colophon-and-help">
          <nav class="help">
            <ul>
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Cookies</a></li>
            </ul>
          </nav>
          <div class="colophon">
            <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
          </div>
        </div>
        <div class="copyright">
          <p>&copy; Crown Copyright</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="http://uk1.siteimprove.com/js/siteanalyze_advanced.js"></script>
    <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
  </body>
</html>

