<div class="row">
    <div class="twelve columns">
        <div class="tab-bar-container">
            <div class="row">
                <div class="button-row">
                    <span>
                        <a href="http://projects.dfid.gov.uk/iati/Country/<%= country['code'] %>" class=" ">IATI Data Set</a>
                        <a href="/fraud?country=<%= format_query_string country['name'] %>" class="button serious">Report Fraud</a>
                    </span>
                </div>

                <div class="projects-nav">
                    <nav>
                        <ul class="tab-bar">
                            <li <%= active=="summary" ? "class='active'" : ""%>><a href="/countries/<%= country['code'] %>">Summary</a></li>
                            <li <%= active=="projects" ? "class='active'" : ""%>><a href="/countries/<%= country['code'] %>/projects">All Projects (<%=project_count%>)</a></li>
                            <% if (results_count > 0) %>
                            <li <%= active=="results" ? "class='active'" : ""%>><a href="/countries/<%= country['code'] %>/results">Results</a></li>
                            <% end %>
                        </ul>
                    </nav>
                </div>       
            </div>
        </div>
    </div>
</div>