<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html>         <!--<![endif]-->

  <head>
    <meta charset="utf-8">
      <title>Aid Information Platform</title>
  
    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
      setTimeout(function(){var a=document,g,b={families:(g=
      ["nta"]),urls:["/stylesheets/fonts-ie8.css]},
      c="javascripts/webfont-debug.js,d="script",
      e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
      ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
      .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!--><%= stylesheet_link_tag "fonts" %><!--<![endif]-->


    <%= javascript_include_tag  "jquery-base" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag  "ie-compat" %>
    <![endif]-->
    <%= javascript_include_tag  "d3" %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "foundation" %>
    <%= stylesheet_link_tag "aip-styles" %>
    <%= stylesheet_link_tag "graph-styles" %>
  </head>
  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#content" class="visually-hidden">Skip to main content</a>
    <header role="banner" id="global-header">
      <div class="row">
        <div class="twelve columns">
          <h2><a href="/" title="Go to the homepage">Department for International Development</a></h2>
        </div>
      </div>
    </header>
    <div class="page-wrapper">
      <div class="row">
        <div class="twelve columns">
          <div class="disclaimer">     
            <p>This is a <em>test website</em>, so may be inaccurate or misleading.  The official website remains <a href="http://www.dfid.gov.uk">dfid.gov.uk</a></p>
          </div>
        </div>
      </div>  
    
      <div id="page-title" class="row">
          <div class="twelve columns">
              <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
              <div>
                  <h1>
                      <span>Department for International Development</span>
                      Aid Information
                  </h1>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="twelve columns">
              <div id="search-bar">
                  <form action="/projects" method="GET">
                      <label for="query">
                          <h3>Search Projects</h3>
                          <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                      </label>
                      <input type="submit" value="Search" class="button">
                  </form>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="twelve columns">
              <div class="tab-bar-container">
                  <div class="row">
                      <!--<div class="five columns budget-total push-seven">-->
                      <div class="budget-total">
                          <p>Total DFID Budget 2012/2013
                          <span>£7.5bn</span></p>
                      </div>

                      <!--<div class="seven columns projects-nav pull-five">-->
                      <div class="projects-nav">
                          <p>Project Level</p>                          
                          <nav>                             
                              <ul class="tab-bar">                                 
                                  
                                  <%= yield_content :global_proj_class   %><a href="/location">Global <span>Projects</span></a></li>
                                  <%= yield_content :regional_proj_class %><a href="/location/regional">Regional <span>Projects</span></a></li>
                                  <%= yield_content :country_proj_class  %><a href="/location/country">Country <span>Projects</span></a></li>

                              </ul>
                          </nav>
                      </div>          
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="twelve columns map"> 

              <%= yield_content :page_content %>
              
          </div>
      </div>

    </div><!-- end page-wrapper -->  

    <div class="disclaimer">
      <div class="row">
    
            <p>This is a <em>test website</em>, so may be inaccurate or misleading.  The official website remains <a href="http://www.dfid.gov.uk">dfid.gov.uk</a></p>

      </div>
    </div>
    
    <footer id="footer" role="contentinfo">
      <div class="row">
        <div class="eight columns">
          <nav>
            <ul class="twelve columns inline-list">
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Cookies</a></li>
            </ul>
          </nav>
          <div class="row">
            <div class="twelve columns">
              <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
          </div>
          </div>
        </div>
        <div class="four columns">
          <div class="copyright">
          <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown Copyright</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="http://uk1.siteimprove.com/js/siteanalyze_advanced.js"></script>
    <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
  </body>
</html>
