---
title: Aid Information Platform
---

<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/location/country/index.html">Aid by Location</a></li>
                    <li><%= country['name'] %></li>
                </ul>
            </div>
            <h1>
                <img src="/images/flags/<%= country['code'].downcase%>.png" alt=""><%= country['name'] %></small>
            </h1>
        </div>
    </div>
</div>

<%= partial "partials/countries-tabs", :locals => { :active => "projects", :code => country['code'], :project_count => projects.size } %>

<script src="/javascripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.10.2.custom.min.css" >
<script type="text/javascript" src="/javascripts/filterProjectsList.js"></script>

<div class="row project-results">
    <div class="nine columns push-three" id="search-results">
        <% projects.each do |project| %>
            <div class="search-result">
                <input type="hidden" name="status" value="<%= activty_status(project['status']) %>"/>
                <input type="hidden" name="budget" value="<%= project['totalBudget'] %>"/>
                <input type="hidden" name="sectors" value="<%=retrieve_high_level_sector_names(project["iatiId"])%>"/>
                <input type="hidden" name="organizations" value="<%=project['participatingOrgs'].join('#')%>" />
                <h3>
                    <a href="/projects/<%=project['iatiId']%>">
                        <%=project['title']%> <small>[<%=project['iatiId']%>]</small>
                    </a>
                </h3>
                <span class="budget">Budget: <em> <%= number_to_currency(project['totalBudget'], :unit=>"£", :precision => 0) %></em></span>
                <span>Status: <em><%= activity_status project['status']%></em></span>
                <p class="description"><%=project['description']%></p>
            </div>
        <% end %>
    </div>

    <div class="three columns pull-nine">
        <div id="filter">
            <h2 class="visually-hidden">Results Filter</h2>
            <div name="status"><h3>Status</h3></div>

            <div name="organizations"><h3>Organisations</h3></div>
            <div name="sectors"><h3>Sectors</h3></div>

            <div name="budget"><h3>Budget</h3></div>
            <span id="amount" style="border: 0; font-weight: bold;"></span>
            <div id="slider-vertical" style="height: 13px;width : 80%; margin-top: 10px;"></div>
        </div>
    </div>
</div>