---
title: Aid Information Platform
---

<header id="page-title" class="row">
    <div class="twelve columns">
        <img id="page-title-logo" src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <p style="margin-top:20px;">AID PLATFORM</p>
        <h1>
            <a href="/countries/<%= country['code'] %>"><img src="/images/flags/<%= country['code'].downcase%>.png" /></a>
            <%= country['name'] %>
        </h1>
        <span id="sectionFooter"><a href="/index.html">Home </a> > <a href="#"> <%= country['name'] %> </a></span>
  </div>
</header>

<%= partial "partials/search-bar" %>
<%= partial "partials/countries-tabs", :locals => { :active => "results", :code => country['code'], :project_count => projects.size } %>

<div class="row">
    <div class="twelve columns content results-info">
        <h2 class="section-group-title">What DFID has achieved</h2>
        <% (country_results country['code']).each do |result| %>
        <div class="row">
            <div class="four columns summary">
                <h3><%= result['_id'] %></h3>     
            </div>
            <div class="eight columns">
                <ul>
                    <% result['countryResult'].each_with_index do |result_description, index| %>
                    <li><%= result_description %><span><%= (result['resultTotal'])[index] %></span></li>
                    <% end %>
                </ul> 
            </div>
        </div>
        <% end %>
    </div>   
</div>


