---
title: Aid Information Platform
---


<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <h1>
                <span>Department for International Development</span>
                Aid Information
            </h1>
        </div>
    </div>
</div>


<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/projects" method="GET">
                <label for="query">
                    <h3>Search Projects</h3>
                    <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                </label>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
</div>

<nav>
    <div class="row" id="nav-entry">
        <div class="six columns col">
            <h2>
                <a href="/location" class="by-location">
                    <span class="image-wrapper">
                        <img src="/images/by-location.gif" alt="">
                    </span>
                    <span class="link-wrapper"><small>Aid by</small> Location</span>
                </a>
            </h2>         
        </div>
        <div class="six columns col">
            <h2>
                <a href="/location" class="by-sector">
                    <span class="image-wrapper">
                        <img src="/images/by-sector.gif" alt="">
                    </span>
                    <span class="link-wrapper"><small>Aid by</small> Sector</span>
                </a>
            </h2>
            
        </div>
    </div>
</nav>


<div class="row">
    <div class="twelve columns">
        <h3 class="section-group-title">UK AID TOP 5s</h3> 
    </div>
</div>
<div class="row top-5s">
    <div class="six columns" id="top-5-countries">
        <h4>Where we work</h4>
        <ol>
        <% top_5_countries.each do |country| %>
          <li>
              <a href="/countries/<%= country['code'] %>" class="truncate" title="<%= country['name'] %>"> <%= country['name'] %> </a>
              <em><span class="visually-hidden">Budget</span><%= format_million_stg country['totalBudget'] %></em>
          </li>
        <% end %> 
        </ol>
        <a href="#">See all...<span class="visually-hidden">top countries</span></a>
    </div>

    <div class="six columns" id="top-5-sectors">
        <h4>What we do</h4>
        <ol>
          <% what_we_do.each do |entry| %>
          <li>
            <a href="#" class="truncate" title="<%= entry['title'] %>"><%= entry['title'] %> </a>
                <em><span class="visually-hidden">Budget</span><%= format_million_stg entry['value'] %></em>
          </li>
          <% end %>  
        </ol>  
         <a href="#">See all...<span class="visually-hidden">top sectors</span></a>                
    </div>

</div>

