---
title: Aid Information Platform
---

<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <h1>
                <span>Aid platform</span>
                <%= country['name'] %>
                <span><a href="/index.html">Home </a></span>
            </h1>
        </div>
    </div>
</div>


<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/projects" method="GET">
                <label for="query">
                    <h3>Search Projects</h3>
                    <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                </label>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h3 class="section-group-title">Summary</h3> 
        <p class="description"><%= markdown_to_html country['description'] %></p>
    </div>
</div>

<div class="row">
    <div class="six columns">
        <h3 class="section-group-title">Key info</h3>
        <ul class="info-list vertical">
            <li>
                Country budget for 2012/13:
                <%= country['budget'] %>
            </li>
            <li>
                Active Projects:<%= country['active-projects'] %>
            </li>
            <li>
                Population (<a href="http://data.worldbank.org/country">source</a>):
                <%= country['population'] %>
            </li>
            <li>
                Life expectancy at birth (<a href="http://data.worldbank.org/country">source</a>):
                <%= country['life expectancy'] %>
            </li>
            <li>
                Income level (<a href="http://data.worldbank.org/country">source</a>):
                <%= country['income-level'] %>
            </li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="six columns">
         <h3 class="section-group-title">Sector groups</h3>
    </div>
    <div class="six columns">
         <h3 class="section-group-title">Project budget total by year</h3>
    </div>
</div>






