---
title: Aid Information Platform
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "partners", :has_funded_projects => true } %>

<div class="row">

    <div class="twelve columns">
      <h3 class="section-group-title">Partner Projects</h3>
      <table style="border:0;">
        <tbody>
          <% funded_projects.each do |funded_project| %>
            <tr>
              <td>
                <h4><%=funded_project['reporting']%></h4>
              </td>
              <td width="60%">
                <h4><%=funded_project['title']%></h4>
                <div class="description">
                  <%=funded_project['description']%>
                </div>
              </td>
              <td>
                <h4>&pound;<%=funded_project['funds']%></h4>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</div>