---
title: Aid Information Platform
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "summary", :has_funded_projects => has_funded_projects } %>

<div class="row">

    <div class="twelve columns">
        <p class="project-description"><%= project['description'] %></p>
    </div>

</div>

<div class="row">

    <div class="six columns">

            <h3 class="info-notice">Funding - Unconditional</h3>
            <div id="funding-progress" style="height: 150px;" class="progress">
            </div>

       
            <h3 class="info-notice">Status - <%= activty_status(project['status']) %></h3>
            <div id="time-progress" style="height: 150px;" class="progress">
            </div>
    </div>

    <div class="six columns">
    </div>

</div>

<div class="row">
    <div class="six columns">
        <h3 class="info-notice">Sector groups</h3>
        <div id="sector-breakdown" style="float:left;" class="donut"></div>
        <div id="sector-legend" style="float:left;">
            <table>
                <% (project["sector-groups"] || []).each do |sector| %>
                    <tr class="legend-item">
                        <td>
                            <span class="legend-color"></span>
                            <span class="truncate" style="width: 155px;" title="<%= sector['name'] %>"> <%= sector['name'] %> </span>
                        </td>
                        <td><%= format_percentage sector['percentage'] %></td>
                    </tr>
                <% end %>
            </table>

        </div>
    </div>
    <div class="six columns">
        <h3 class="info-notice">Project budget vs actual spend</h3>
        <div id="budget-plan-spend" style="height: 250px; width: 480px;" class="progress"></div>
    </div>

    <script type="text/javascript" src="/javascripts/donut.js"></script>
    <script type="text/javascript" src="/javascripts/progress.js"></script>
    <script type="text/javascript" src="/javascripts/bar.js"></script>

    <script type="text/javascript">
        (function(){
            var funding = [ {label: "", text: "", value: 0},
                            {label: "Budget spend to date", text: "£<%= project['totalProjectSpend'] %>", value: <%= project['totalProjectSpend'] %>},
                            {label: "Project budget", text: "£<%= project['totalBudget'] %>", value: <%= project['totalBudget'] %>}]
            charts.progressBar("#funding-progress", funding, function(d) { return d.value; }, function(d) { return d.label; }, function(d) { return d.text; });

            var time = [ {label: "Start",
                          text: "<%= format_date(choose_better_date(project['start-actual'], project['start-planned'])) %>",
                          value: <%= choose_better_date(project['start-actual'], project['start-planned']) %>},
                         {label: "Progress by time",
                          text: "",
                          value: new Date().getTime()},
                         {label: "End",
                          text: "<%= format_date(choose_better_date(project['end-actual'], project['end-planned'])) %>",
                          value: <%= choose_better_date(project['end-actual'],   project['end-planned']) %>}];
            charts.progressBar("#time-progress", time, function(d) { return d.value; }, function(d) { return d.label; }, function(d) { return d.text; });

            var budgets = <%= ([["Year" ,"Plan", "Spend"]]) + (project_budget_per_fy project['iatiId']) %>;
            charts.bar("#budget-plan-spend", budgets, ".2s", null, null, ["#D8DCBF", "#2B6367"]);
        })()
    </script>


</div>