---
title: Aid Information Platform
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "summary", :has_funded_projects => has_funded_projects } %>

<div class="row">

    <div class="twelve columns">
        <p class="project-description"><%= project['description'] %></p>
    </div>

</div>

<div class="row">

    <div class="six columns">

            <h3 class="info-notice">Funding - Unconditional</h3>
            <div id="funding-progress" style="height: 150px;" class="progress">
            </div>

       
            <h3 class="info-notice">Status - <%= activty_status(project['status']) %></h3>
            <div id="time-progress" style="height: 150px;" class="progress">
            </div>
    </div>

    <div class="six columns">
    </div>

</div>

<div class="row">
    <div class="six columns">
        <h3 class="info-notice">Sector groups</h3>
        <div id="sectorChart" style="float:left; height: 250px; width: 480px;" class="progress"></div>
        <div id="sectorLegend" style="float:left;">
            <table>
                <% (project["sector-groups"] || []).each do |sector| %>
                    <tr class="legend-item">
                        <td>
                            <span class="legend-color"></span>
                            <span class="truncate" style="width: 155px;" title="<%= sector['name'] %>"> <%= sector['name'] %> </span>
                        </td>
                        <td><%= sector['percentage'] %>%</td>
                    </tr>
                <% end %>
            </table>

        </div>
    </div>
    <div class="six columns">
        <h3 class="info-notice">Project budget vs actual spend</h3>
        <div id="budgetChart" style="height: 250px; width: 480px;" class="progress"></div>
    </div>
</div>