---
title: Aid Information Platform
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "summary" } %>

<div class="row">

    <div class="twelve columns">
        <p class="description"><%= project['description'] %></p>
    </div>

</div>

<div class="row">

    <div class="six columns">

            <h3 class="section-group-title">Funding - <%= project['funding'] %></h3>
            <div id="funding-progress" style="height: 150px;" class="progress">
            </div>

       
            <h3 class="section-group-title">Status - <%= project['status'] %></h3>
            <div id="time-progress" style="height: 150px;" class="progress">
            </div>
    </div>

    <div class="six columns">

        <script src="/javascripts/leaflet/leaflet.js" type="text/javascript"></script>
        <script src="/javascripts/leaflet/world.js" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.at("javascripts/leaflet/leaflet.css")" />

        <img src="/images/generic-map.gif">

        <link rel="stylesheet" href="/stylesheets/MarkerCluster.css" />
        <link rel="stylesheet" href="/stylesheets/MarkerCluster.Default.css" />

        <div class="chart-disclaimer" style="margin-top:-11%;">
            <p><strong>Disclaimer</strong>: Country borders do not necessarily reflect the UK Government's official position.</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="six columns">
        <h3 class="section-group-title">Sector groups</h3>
        <div id="sectorChart" style="float:left;"></div>
        <div id="sectorLegend" style="float:left;">
            <table>
                <% (project["sector-groups"] || []).each do |sector| %>
                    <tr class="legend-item">
                        <td>
                            <span class="legend-color"></span>
                            <span class="truncate" style="width: 155px;" title="<%= sector['name'] %>"> <%= sector['name'] %> </span>
                        </td>
                        <td><%= sector['percentage'] %>%</td>
                    </tr>
                <% end %>
            </table>

        </div>
    </div>
    <div class="six columns">
        <h3 class="section-group-title">Project budget vs actual spend</h3>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h3 class="section-group-title">Partner budget split</h3>
        <div id="partnerChart" style="float:left;"></div>
        <div id="partnerLegend" style="float:left;">
            <table>
                <% (project["partner-split"] || []).each do |partner| %>
                    <tr class="legend-item">
                        <td>
                            <span class="legend-color"></span>
                            <span class="truncate" style="width: 155px;" title="<%= partner['name'] %>"> <%= partner['name'] %> </span>
                        </td>
                        <td><%= partner['percentage'] %>%</td>
                    </tr>
                <% end %>
            </table>

        </div>
    </div>
</div>