---
title: Development Tracker
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "trace", :results => results, :has_funded_projects => has_funded_projects, :has_receipient_project => true} %>

<div class="row">
    <div class="twelve columns summary">    
      <p>Data </p>

      <div>
            <%= results.to_json %>
      </div>
      <hr/>        
    </div>
    
</div>

<div class="row" id="layout" style="border: 1px solid black; padding-left: 2em">
   <p>Layout#1</p>
    
<style type="text/css">

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>
    
    <script type="text/javascript">
      var root = <%=results.to_json%>
    </script>
    <script src="/javascripts/pages/d3_trace_layout_option7.js" type="text/javascript"></script>
   
    <hr/>
</div>

<div class="row" id="layout2" style="border: 1px solid black; padding-left: 2em">
   <p>Layout#2</p>

   <style type="text/css">

  html, body {
    font-family: Arial, sans-serif;
}

.title {
    font-size: 12px;
}

.canvas .wrapper.outer > .background {
    fill: #000000;
}
.canvas .wrapper.inner > .background {
    fill: #CCCCCC;
    cursor: move;
}
.canvas .background {
    fill: #F6F6F6;
    stroke: #333333;
    cursor: move;
}
.canvas .panCanvas {
    cursor: move;
}

.canvas .minimap .frame .background {
    stroke: #111111;
    stroke-width: 4px;
    fill-opacity: 0.4;
    fill: #000000;
    fill: url(#minimapGradient);
    filter: url(#minimapDropShadow);
    cursor: move;
}

.forcecircle {
    stroke: #111111;
    fill: blue;
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>

   <script type="text/javascript">
      var root = <%=results.to_json%>
    </script>
    <script src="/javascripts/pages/d3_trace_layout_option6.js" type="text/javascript"></script>

   <hr/>
</div>

<div class="row" id="layout3" style="border: 1px solid black; padding-left: 2em">
   <p>Layout#3</p>

   <style>

circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

</style>

   <script type="text/javascript">
      var root = <%=results.to_json%>
    </script>
    <script src="/javascripts/pages/d3_trace_layout_option3.js" type="text/javascript"></script>

   <hr/>
</div>

