---
title: Aid Information Platform
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "transactions", :has_funded_projects => has_funded_projects} %>

<div class="row">
  <div class="twelve columns transactions">
    <h3 class="section-group-title">Budget
      <span style="float:right; margin-top:20px;">
        <%= number_to_currency((total_project_budget project['iatiId']), :unit=>"£", :precision =>0) %>
      </span>
      <p style="margin-bottom:2px;">(Current approved budget)</p>
    </h3>
    <table class="transactions-table" style="width:100%">
      <tbody>
        <tr>
          <th>Financial Year</th>
          <th>Value</th>
        </tr>
        <% (project_budgets project['iatiId']).each do |project_budget| %>
          <tr>
            <td><%= project_budget[0] %></td>
            <td><%= number_to_currency(project_budget[1], :unit=>"£", :precision => 0) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'IF' }.each do |transaction_group| %>
      <h3 class="section-group-title">Incoming Funds<span style="float:right; margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=>"£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Funds received from an external funding source)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th>Description</th>
            <th width="15%">Provider</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction_description(transaction, transaction_group['_id']) %></td>
              <td width="15%"><%= transaction['provider-org'] + " (" + transaction['provider-activity-id'] + ")" %></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=>"£", :precision => 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'C' }.each do |transaction_group| %>
      <h3 class="section-group-title">Commitment <span style="float:right; margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=>"£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Obligation to provide funding)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th><%= "Activity Description" %></th>
            <th width="15%"><%= "Activity"  %></th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction_description(transaction, transaction_group['_id']) %></td>
              <td width="15%"><%= transaction['component']%></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=>"£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'D' }.each do |transaction_group| %>
      <h3 class="section-group-title">Disbursement<span style="float:right;margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=>"£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Fund transfer to implementing agency)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th><%= "Description" %></th>
            <th width="15%"><%= "Receiving Org"  %></th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction_description(transaction, transaction_group['_id']) %></td>
              <td width="15%"><%= transaction['receiver-org'] %></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=>"£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'E' }.each do |transaction_group| %>
      <h3 class="section-group-title">Expenditure<span style="float:right; margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=>"£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Project spend)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th><%= "Description" %></th>
            <th width="15%"><%= "Receiving Org"  %></th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction_description(transaction, transaction_group['_id']) %></td>
              <td width="15%"><%= transaction['receiver-org'] %></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=>"£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>