---
title: Development Tracker
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "transactions", :has_funded_projects => has_funded_projects} %>

<%# ------------------------------------------------------------------------ %>
<%#                       B U D G E T S   T A B L E                          %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <h3 class="section-group-title">Budget
      <span class="<%= (total_project_budget project['iatiId']) < 0 ? 'negative' : ''%>" style="float:right; margin-top:20px;">
        <%= number_to_currency((total_project_budget project['iatiId']), :unit=> currency_symbol(project['currency']) || "£", :precision =>0) %>
      </span>
      <p style="margin-bottom:2px;">(Current approved budget)</p>
    </h3>
    <table class="transactions-table" style="width:100%">
      <tbody>
        <tr>
          <th>Financial Year</th>
          <th>Value</th>
        </tr>
        <% (project_budgets project['iatiId']).each do |project_budget| %>
          <tr>
            <td><%= project_budget[0] %></td>
            <td><span class="<%= project_budget[1] < 0 ? 'negative' : ''%>"><%= number_to_currency(project_budget[1], :unit=> currency_symbol(project['currency']) || "£", :precision => 0) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%# ------------------------------------------------------------------------ %>
<%#                 I N C O M I N G   F U N D S   T A B L E                  %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'IF' }.each do |transaction_group| %>
      <h3 class="section-group-title">Incoming Funds<span class="<%= transaction_group["total"] < 0 ? 'negative' : ''%>" style="float:right; margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=> currency_symbol(project['currency']) || "£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Funds received from an external funding source)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th>Description</th>
            <th width="15%">Provider</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction_description(transaction, transaction_group['_id']) %></td>
              <td width="15%"><%= transaction['provider-org'] + " (" + transaction['provider-activity-id'] + ")" %></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" class="<%= transaction['value'] < 0 ? 'negative' : ''%>" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=> currency_symbol(project['currency']) || "£", :precision => 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%# ------------------------------------------------------------------------ %>
<%#                   C O M M I T M E N T S   T A B L E                      %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'C' }.each do |transaction_group| %>
      <h3 class="section-group-title">Commitment <span class="<%= transaction_group["total"] < 0 ? 'negative' : ''%>" style="float:right; margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=> currency_symbol(project['currency']) || "£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Obligation to provide funding)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th><%= "Activity Description" %></th>
            <th width="15%">Activity ID</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction_description(transaction, transaction_group['_id']) %></td>
              <td width="15%"><%= transaction['component']%></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" class="<%= transaction['value'] < 0 ? 'negative' : ''%>" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=> currency_symbol(project['currency']) ||  "£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%# ------------------------------------------------------------------------ %>
<%#                  D I S B U R S E M E N T S   T A B L E                   %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'D' }.each do |transaction_group| %>
      <h3 class="section-group-title">Disbursement<span class="<%= transaction_group["total"] < 0 ? 'negative' : ''%>" style="float:right;margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=> currency_symbol(project['currency']) ||  "£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Fund transfer to implementing agency)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th>Description</th>
            <th>Receiver Org</th>
            <th width="15%">Activity ID</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction['description'] %></td>
              <td><%= transaction['receiver-org'] %></td>
              <td><%= transaction['component'] %></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" class="<%= transaction['value'] < 0 ? 'negative' : ''%>" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=> currency_symbol(project['currency']) || "£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%# ------------------------------------------------------------------------ %>
<%#                    E X P E N D I T U R E   T A B L E                     %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <% transaction_groups.select {|group| group['_id'] == 'E' }.each do |transaction_group| %>
      <h3 class="section-group-title">Expenditure<span class="<%= transaction_group["total"] < 0 ? 'negative' : ''%>"style="float:right; margin-top:20px;"><%= number_to_currency(transaction_group["total"], :unit=> currency_symbol(project['currency']) || "£", :precision => 0)%></span>
        <p style="margin-bottom:2px;">(Project spend)</p>
      </h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th>Description</th>
            <th width="15%">Receiver Org</th>
            <th width="15%">Activity ID</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%= transaction['description'] %></td>
              <td><%= transaction['receiver-org'] %></td>
              <td><%= transaction['component'] %></td>              
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" class="<%= transaction['value'] < 0 ? 'negative' : ''%>" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=> currency_symbol(project['currency']) || "£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>