---
title: Aid Information Platform
---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "transactions", :has_funded_projects => has_funded_projects } %>

<div class="row">
  <div class="twelve columns transactions">
    <h3 class="section-group-title">Budgets by financial year</h3>
    <table class="transactions-table" style="width:100%">
      <tbody>
        <% (project_budgets project['iatiId']).each do |project_budget| %>
          <tr>
            <td><%= project_budget[0] %></td>
            <td><%= number_to_currency(project_budget[1], :unit=>"£", :precision => 0) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% transaction_groups.each do |transaction_group| %>
  <div class="row">
    <div class="twelve columns transactions">
      <h3 class="section-group-title"><%= transaction_type transaction_group['_id']%> <span style="float:right"><%= number_to_currency(transaction_group["total"], :unit=>"£", :precision => 0)%></span></h3> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <% transaction_group['transactions'].sort_by { | tx | -tx['date'].to_i }.each do |transaction| %>
            <tr>
              <td><%=transaction['description']%></td>
              <td width="15%"><%=transaction['component']%></td>
              <td width="15%"><%=transaction['date'].strftime("%d %b %Y")%></td>
              <td width="15%" style="text-align:right;"><%= number_to_currency(transaction['value'], :unit=>"£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>